<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
	<div class="container content">
		<div class="select-field">
			<select class="form-select genre-select" id="genreList" data-src="home" data-act="changeGenre">
			</select>
		</div>
		<div id="contentList">
		</div>
		<div class="plus-field" id="moreView">
			<div  class="arrow">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
				</svg>
			</div>
			<a class="more-view" href="javascript:;" data-src="home" data-act="clickMoreView">더보기</a>
		</div>
	</div>
	
	<!-- 컨텐츠 상세 모달 -->
	<div class="modal fade modal-lg" id="contentModal" data-bs-keyboard="false" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
	    	<div class="modal-content">
	      		<div class="modal-content-header">
	      			<img src="" id="contentImg" class="content-modal-img">
	        		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	        		<div class="content-title">
	        			<p id="contentTitle"></p>
	        		</div>
	      		</div>
		    	<div class="modal-body content-modal-body">
		    		<div class="row content-desc">
		    			<div class="col-8">
		    				<p><img class="rating-icon" id="ratingIcon"><span id="contentRating"></span></p>
      						<p id="contentSum"></p>
	      				</div>
	      				<div class="col-4">
	      					<p>장르: <span id="contentGenre"></span></p>
	      					<p>키워드: <span id="contentKeyword"></span></p>
	      				</div>
	      			</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="script">
	<script th:src="@{/js/page/home.js}"></script>
	<script>
		layout.setCallback(home.init);
	</script>
</th:block>
</html>