<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/login_layout}">
	<th:block th:replace="~{fragments/headerScript :: loginHeaderScriptFragment}"></th:block>
	<th:block th:replace="~{fragments/header :: loginHeaderFragment}"></th:block>
	<th:block layout:fragment="content">
		<div class="container">
			<div class="wrapper">
				<div class="login-box">
					<div class="login-field">
						<div class="text-field">
							<h2><b>로그인</b></h2>
						</div>
						<div class="form-floating">
							<input type="text" class="form-control" id="email" placeholder="이메일 (example@gmail.com)" data-src="login" data-act="loginId">
							<label for="email">이메일</label>
						</div>
						<div class="form-floating">
							<input type="password" class="form-control" id="pw" placeholder="비밀번호" data-src="login" data-act="loginPw">
							<label for="pw">비밀번호</label>
						</div>
						<button type="button" data-src="login" data-act="clickLogin" class="btn">로그인</button>
					</div>
					<div class="text-filed">
						<span><a href="javascript:;" data-src="login" data-act="clickSignUp">회원가입</a></span>
						<span><a href="javascript:;" data-src="login" data-act="clickFindPw">비밀번호 찾기</a></span>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 비밀번호 찾기 모달 -->
		<div class="modal fade" id="findPwModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<h5 class="modal-title">비밀번호 찾기</h5>
		        		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      		</div>
			    	<div class="modal-body">
			    		<div class="findpw-notice">
			    			<h6>* 회원가입 시의 이메일을 입력해 주세요.</h6>
			    		</div>
			    		<div class="form-floating">
			    			<input type="text" class="form-control profile-input" id="findPwEmail" placeholder="이메일">
			    			<label for="findPwEmail">이메일</label>
			    		</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-cancel" data-bs-dismiss="modal">취소</button>
					    <button type="button" class="btn btn-send" data-src="login" data-act="clickSendPw">비밀번호 발송</button>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="script">
		<script th:src="@{/js/page/login.js}"></script>
		<script>
			layout.setCallback(login.init);
		</script>
	</th:block>
</html>