<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<!-- 일반 공통 스크립트 -->
	<th:block th:fragment="footerScriptFragment">
		<!-- jQuery -->
		<script th:src="@{/assets/jquery/jquery-3.7.1.min.js}"></script>
		<!-- BootStrap -->
		<script th:src="@{/assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<!-- 레이아웃 js -->
		<script th:src="@{/js/layout/layout.js}"></script>
	</th:block>
	
	<!-- 로그인 스크립트 -->
	<th:block th:fragment="loginFooterScriptFragment">
		<!-- jQuery -->
		<script th:src="@{/assets/jquery/jquery-3.7.1.min.js}"></script>
		<!-- BootStrap -->
		<script th:src="@{/assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</th:block>
</html>