<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<th:block th:fragment="basicHeaderFragment">
		<meta charset="UTF-8">
		<title>EVERYSEEING</title>
	</th:block>
	<th:block th:fragment="headerFragment">
		<header>
			<nav class="navbar navbar-expand-lg">
				<a href="javascript;" data-src="header" data-act="clickLogo" class="navbar-brand">
					<img th:src="@{/assets/imgs/main_logo.png}" class="logo">
				</a>
			    <div class="navbar-nav">
					<a class="nav-item nav-link" href="javascript;" data-src="header" data-act="clickMenu">NEW</a>
					<a class="nav-item nav-link" href="javascript;" data-src="header" data-act="clickMenu">영화</a>
					<a class="nav-item nav-link" href="javascript;" data-src="header" data-act="clickMenu">TV</a>
					<a class="nav-item nav-link" href="javascript;" data-src="header" data-act="clickMenu">애니메이션</a>
					<a class="nav-item nav-link" href="javascript;" data-src="header" data-act="clickMenu">찜한 콘텐츠</a>
			    </div>
			    <div class="nav-search">
			    	<input class="search" type="text" placeholder="제목 검색">
					<button class="search-btn " type="button">
						<img th:src="@{/assets/imgs/search_icon.png}" class="search-img">
					</button>
			    </div>
			    <div class="nav-profile">
			    	<img th:src="@{/assets/imgs/basic_profile.png}">
			    </div>
			</nav>
		</header>
	</th:block>
</html>