@charset "UTF-8";

body {
	background-color: #22223B;
	text-align: -webkit-center;
}

.wrapper {
	margin-top: 150px;
	width: 400px;
}

.logo {
	width: 300px;
}

.text-field {
	padding-bottom: 15px;
	text-align: left;
}

.login-box {
	background-color: #4A4E69;
	color: #f2e9e4;
	text-align: -webkit-center;
	border-radius: 10px;
	padding: 40px;
}

input {
	margin-bottom: 15px;
	height: 60px;
}

.form-control {
	background-color: transparent;
	border-color: #f2e9e4;
	color: #f2e9e4;
}

.form-control:focus {
	background-color: transparent;
	border-color: #f2e9e4;
	color: #f2e9e4;
	outline: 2px solid #9A8C98;
}

label {
	margin-left: 10px;
}

nav {
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
}

.nav-btn {
	margin-left: auto;
}

.signup-btn {
	background-color: transparent;
	color: #f2e9e4;
	border: 1px solid;
	border-radius: 5px;
	border-color: #f2e9e4;
	width: 100px;
	height: 35px;
}

.signup-btn:hover {
	background-color: #f2e9e4;
	color: #22223B;
}

.btn {
	background-color: #9A8C98;
	border-color: #9A8C98;
	width: 100%;
	color: #f2e9e4;
}

.btn:hover {
	background-color: #8A7D88;
	border-color: #8A7D88;
	color: #f2e9e4;
}

span {
	display: block;
	margin-bottom: 5px;
}

.text-filed {
	margin-top: 20px;
}

a {
	color: #f2e9e4;
	text-decoration: none;
}

a:hover {
	color: #9A8C98;
}